.finance-title{
  background-color: #7501D9;
  font-family: 'DM Serif Display', serif;
  font-size: 72px;
}

.saving-desc{
 padding: 2% 15% 2% 15% !important;
 margin: 10%;
 font-family: 'montserrat', serif;
}

.saving-desc h2{
 color: #7501D9;
 font-size: 45px;
 padding: 4%;
 font-family: 'DM Serif Display', serif;
}
