

#smallpic{
  width: 180px;
  height: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#title{
  font-family: 'DM Serif Display', serif;
  letter-spacing: 3px;
}

#para1{
  font-size: 14px;
  font-family: Courier, sans-serif;
}

.nav-link{
  color: white !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
}

.nav-link:hover{
  text-decoration: underline;
}

.active{
  background-color: #242424;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollgone::-webkit-scrollbar {
display: none;
}
