.portfolio-title{
  background-color: #7501D9;
  font-family: 'DM Serif Display', serif;
  font-size: 72px;
  letter-spacing: 10px;
}

#box {
    overflow-y: visible;
    white-space: nowrap;
    vertical-align: text-top;
    margin: 0;
    clear: both;
    border-spacing: 11em 5em;
}
.item {
    display: table-cell;
    min-width: 300px;
    height: 300px;
    border-radius: 5px;
    margin: 10px;
    white-space: normal;
    line-height: 1.6;
    vertical-align: top;
    text-align: center;
}

.image{
  transition: .2s;
}

.image:hover{
  transform: scale(1.1);
}

.card{
  border: none !important;
}

.card-body{
  visibility: hidden;
  transition-delay: 0s;
}

.div {
    display: none;
    border:1px solid #000;
}

.item:hover .card-body{
  visibility: visible;
  transition-delay: 0.2s;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

.card-text-style{
  width: auto;
  height: auto;
  background-color: #1C1C1C !important;
  font-family: 'montserrat', sans-serif;
}

.card-title{
  font-family: 'DM Serif Display', serif;
  letter-spacing: 5px;
  margin-top: 5% !important;
}

.btn{
  color: white !important;
  background-color: #7501D9;
}

.box{
  height: 80px;
}

.mobile {
  padding: 0px !important;
}

.portfolio-navbar{

}

.portfolio-navbar .nav-link{
    height: 80px;
    font-size: 45px;
    font-family: 'DM Serif Display', serif !important;
}

.desktop-navbar .nav-link{
  display: block !important;
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 72px;
}

.row{
  height:550px;
  text-align: center;
}

.col{
  padding: 2%;
  text-align: center;
}

.card-img{
  margin: 5%;
  height: 250px !important;
  width: 250px !important;
  text-align: center;
}

@media screen and (max-width: 768px) {

  .portfolio-title{
    letter-spacing: 2px;
  }

  #box {
      border-spacing: 5em 2em;
  }

  .item {
      display: contents;
      min-width: 300px;
      height: 300px;
      border-radius: 5px;
      margin: 10px;
      white-space: normal;
      line-height: 1.6;
      vertical-align: top;
      text-align: center;
  }

  .card-text-style{
    width: auto;
    background-color: #1C1C1C !important;
    font-family: 'montserrat', sans-serif;
    padding: 10%;
    margin: 0;
  }

  .desktop-navbar .nav-link{
    display: block !important;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
  }

  .row{
    height: 600px;
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
